@import './utils/variables';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/backdrop';
@import './components/modal';
@import './components/button';
@import './components/logo';
@import './components/social-list';

@import './layout/header';
@import './layout/footer';
@import './layout/grid';
@import './layout/form';
@import './layout/navigation';

@import './pages/home/hero';
@import './pages/home/feautures';
@import './pages/home/offer';
@import './pages/home/team';
@import './pages/home/clients';
@import './pages/portfolio/portfolio';
@import './pages/portfolio/cards';
