.feauters {
  padding-bottom: 0px;
}

.feauters__box {
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.feauters__heading {
  margin-bottom: 10px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feauters__description {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  letter-spacing: 0.03em;
  margin: 0;
}
