.hero {
  height: 400px;
  align-items: center;
  justify-content: center;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg-mobile.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  &__tittle {
    font-family: $main-font;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    width: 365px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero-bg-mobile-img@2x.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-tablet.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero-bg-tablet-img@2x.jpg");
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-position: center top;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    &__tittle {
      width: 696px;
      color: white;
      font-weight: 900;
      font-size: 44px;
      line-height: 60px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero-bg@2x.jpg");
      background-size: cover;
    }
  }
}
