.section_team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
  justify-content: center;
}
.team__list-item {
  background: #ffffff;
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__list-item:last-child {
  margin-right: 0px;
}

.team__list-item-workername {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color;
}
.team__list-item-workerposition {
  text-align: center;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  padding-bottom: 16px;
  padding-top: 30px;
}
.team__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  fill: #afb1b8;
}

.team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-item {
  margin-right: 10px;
}
.team__social-item:last-child {
  margin-right: 0;
}

.team__social-link:hover,
.team__social-link:focus {
  fill: white;
  background-color: $main-color;
}
