.container {
  width: 100%;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &_column {
    flex-direction: column;
  }
  .portfolio & {
    margin-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    header & {
      justify-content: space-between;
      padding: 0 15px;
      margin: 0 auto;
    }

    &_column {
      padding: 0 186px;
    }
    .portfolio & {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  &_column {
    flex-direction: column;

    .portfolio & {
      margin-bottom: 50px;
    }
  }
}
