.container {
  width: 100%;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_column {
  flex-direction: column;
  padding: 0 42px;
}



@media screen and (min-width: 768px){

 header .container {
  justify-content: space-between;
  padding: 0 15px;
  margin: 0 auto;
}

.container_column {
    padding: 0 186px;
}
}

@media screen and (min-width: 1200px){
  .container  {
    max-width: 1200px;
          
  }
  
  }
  .container_column {
  flex-direction: column;
  padding: 0 452px;
}


